[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"
python-language-server = "*"

[packages]
pytest = "*"
pytest-bdd = "*"
selenium = "*"
webdriver-manager = "*"
pytest-sugar = "*"

[requires]
python_version = "3.8"
